<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisa de logs</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de logs</h1>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${logFiltro}" th:action="@{/logs}">
		
			<brewer:message/>
		
			<div class="row" th:if="${#authentication.principal.isPossuiPermissao('ROLE_EDITAR_TODOS_ESTABELECIMENTOS')}">
				<div class="form-group  col-sm-6">
					<label for="estabelecimento" class="control-label">Estabelecimento</label>
					<select id="estabelecimento" class="form-control" th:field="*{estabelecimento.codigo}">
						<option value="">Selecione o estabelecimento</option>
						<option th:each="estab : ${estabelecimentos}" th:value="${estab.codigo}" th:text="${estab.codigoNome}"></option>
					</select>
				</div>	
			</div>
			
			<div class="row">
				<div class='form-group  col-sm-6  bw-required' brewer:classforerror="dataHoraInicio">
		        	<label for="dataHoraInicio" class="control-label">Data hora inicial</label>
		        	<div class="input-group date">
			            <input type='text' class="form-control js-datahora" id="dataHoraInicio" th:field="*{dataHoraInicio}" />
			            <span class="input-group-addon">
		                    <span class="glyphicon glyphicon-calendar"></span>
		                </span>
	                </div>
		        </div>
		        
		        <div class='form-group  col-sm-6  bw-required' brewer:classforerror="dataHoraFim">
		        	<label for="dataHoraFim" class="control-label">Data hora final</label>
		        	<div class="input-group date">
			            <input type='text' class="form-control js-datahora" id="dataHoraFim" th:field="*{dataHoraFim}" />
			            <span class="input-group-addon">
		                    <span class="glyphicon glyphicon-calendar"></span>
		                </span>
	                </div>
		        </div>	
			
				<div class="form-group  col-sm-2" style="padding-top:23px;">
					<button type="submit" class="btn  btn-primary">Pesquisar</button>
				</div>				
			</div>
			
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>	            		
	            		<th>Ação</th>
	                	<th>Data</th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="log : ${pagina.conteudo}">
						<td th:text="${log.acao}"></td>
						<td th:text="${log.dataHoraFormatado}"></td>			
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="6">Nenhum log encontrado</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
    	 
    	 <brewer:pagination page="${pagina}"/>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script>
		$(function () {
	        $('#dataHoraInicio').datetimepicker({
	        	maxDate: 'now',
	        	locale: 'pt-br',
	        	sideBySide: true
	        });
	        $('#dataHoraFim').datetimepicker({
	        	maxDate: 'now',
	        	defaultDate: 'now',
	        	locale: 'pt-br',
	        	sideBySide: true,
	            useCurrent: false //Important! See issue #1075
	        });
	        $("#dataHoraInicio").on("dp.change", function (e) {
	            $('#dataHoraFim').data("DateTimePicker").minDate(e.date);
	        });
	        $("#dataHoraFim").on("dp.change", function (e) {
	            $('#dataHoraInicio').data("DateTimePicker").maxDate(e.date);
	        });
	    });	
	</script>
</th:block>
</body>
</html>