<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisa de estabelecimentos</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de estabelecimentos</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/estabelecimentos/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo estabelecimento</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${estabelecimentoFiltro}" th:action="@{/estabelecimentos}">
		
			<div class="row">
				<div class="form-group  col-sm-4">
					<label for="estado" class="control-label">Estado</label>
					<select id="estado" class="form-control" th:field="*{estado}">
	                    <option value="">Todos os estados</option>
	                    <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"></option>
	                </select>
				</div>
				
				<div class="form-group  col-sm-6">
					<label for="cidade" class="control-label">Cidade</label>
					<select id="cidade" class="form-control" th:field="*{cidade}" th:disabled="${cidades == null}" 
							th:attr="data-url-cidades=@{/estabelecimentos/estado/}">
	                    <option value="">Todas as cidades</option>
	                    <option th:each="cid : ${cidades}" th:value="${cid}" th:text="${cid}"></option>
	                </select>
				</div>
					
				<div class="form-group  col-sm-2" style="padding-top:23px;">
					<button type="submit" class="btn  btn-primary">Pesquisar</button>
				</div>
			</div>
		</form>
		

		<div class="table-responsive  bw-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>	            		
	            		<th>Nome</th>
	                	<th>Responsável</th>	                	
	                	<th>Qtd. portas</th>
	                	<th>Qtd. anúncios</th>
	                 	<th class="table-col-acoes"></th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="estabelecimento : ${pagina.conteudo}">
						<td th:text="${estabelecimento.nome}"></td>
						<td th:text="${estabelecimento.responsavel.pessoa.nome}"></td>						
						<td th:text="${estabelecimento.quantidadePortas}"></td>
						<td th:text="${estabelecimento.quantidadeAnuncios}"></td>
	                 	<td class="text-center">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
							th:href="@{/estabelecimentos/{codigo}(codigo=${estabelecimento.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#"
								data:url="@{/estabelecimentos/{codigo}(codigo=${estabelecimento.codigo})}"
								data:objeto="${estabelecimento.nome}"
								th:if="${#authentication.principal.usuario.estabelecimento.codigo != estabelecimento.codigo}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="6">Nenhum estabelecimento encontrado</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
    	 
    	 <brewer:pagination page="${pagina}"/>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script>
		$('#estado').change(function() {
			if($("#estado option:selected")["0"].value == null || $("#estado option:selected")["0"].value == "") {
				limparSelectCidade();
				return;
			}
			
			$.ajax({
				type: "GET",
				url: $('#cidade').data('url-cidades') + $("#estado option:selected")["0"].value,
				beforeSend: function() {
					limparSelectCidade();
				},
				success: function(data) {					
					if(data != null && data.length > 0) {
						$('#cidade').prop('disabled', false);
						data.forEach(function(item){
						    $('#cidade').append('<option value='+item+'>' + item + '</option>');
						});
					}
				}
			});
		});	
		
		function limparSelectCidade() {
			$('#cidade').prop('disabled', true);
			var select = document.getElementById("cidade");
			var length = $('#cidade')["0"].length - 1;
			for (i = length; i >= 0; i--) {
				select.options[i] = null;
			}
			$('#cidade').append('<option value="">Todas as cidades</option>');
		}
	
	</script>
</th:block>
</body>
</html>