<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisa de anúncios</title>	
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de anúncios</h1>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${anuncioUsuarioFiltro}" th:action="@{/anunciosUsuario}">
			 		
			<div class="row">	
				<div class="form-group  col-sm-2">
					<label for="estado" class="control-label">Estado</label>
					<select id="estado" class="form-control" th:field="*{estado}">
	                    <option value="">Todos os estados</option>
	                    <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"></option>
	                </select>
				</div>
				
				<div class="form-group  col-sm-2">
					<label for="cidade" class="control-label">Cidade</label>
					<select id="cidade" class="form-control" th:field="*{cidade}" th:disabled="${cidades == null}" 
							th:attr="data-url-cidades=@{/anunciosUsuario/estado/}">
	                    <option value="">Todas as cidades</option>
	                    <option th:each="cid : ${cidades}" th:value="${cid}" th:text="${cid}"></option>
	                </select>
				</div>
			
				<div class="form-group  col-sm-6">
					<label for="valorMinimo">Preço</label>
					<div class="form-inline">
						<input type="text" class="form-control  js-decimal" id="valorMinimo" th:field="*{faixaPrecoInicial}"/>
						<label for="valorMaximo" class="aw-form-label-between">até</label>
						<input type="text" class="form-control  js-decimal" id="valorMaximo" th:field="*{faixaPrecoFinal}"/>
					</div>
				</div>
				
				<div class="form-group  col-sm-2" style="padding-top:23px;">
					<button type="submit" class="btn  btn-primary">Pesquisar</button>
				</div>								
			</div>	
			
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
        		<table class="table  table-hover">
	            <thead>
	            	<tr>	            		
	            		<th>Descrição</th>
	                	<th>Data de Publicação</th>
	                	<th>Expira em</th>
	                	<th>Preço</th>
	                 	<th class="table-col-acoes"></th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="anuncio : ${pagina.conteudo}">
						<td th:text="${anuncio.descricaoResumida}"></td>
						<td th:text="${anuncio.dataPublicacaoString}"></td>
						<td th:text="${anuncio.tempoExpiracao}"></td>
						<td th:text="${anuncio.precoString}"></td>
	                 	<td class="text-center">
	                 		
	                 		<a class="btn  btn-link  btn-xs  js-tooltip  js-modal-btn" title="Visualizar detalhes do anúncio" href="#"
	                 			data-toggle="modal" data-target="#modalVisualizarAnuncioUsuario"
								data:url="@{/anunciosUsuario/{codigoAnuncio}(codigoAnuncio=${anuncio.codigo})}"> 
								<i class="glyphicon glyphicon-eye-open"></i>
							</a>
	                 							
							<a class="btn  btn-link  btn-xs  js-tooltip  js-marcar-btn" title="Marcar interesse" href="#"
								data:url="@{/anunciosUsuario}" data:objeto="${anuncio.codigo}"
								th:unless="${anuncio.usuarioJaInteressado}"> 
								<i class="glyphicon glyphicon-star-empty"></i>
							</a>
							
							<a class="btn  btn-link  btn-xs  js-tooltip  js-desmarcar-btn" title="Desmarcar interesse" href="#"
								data:url="@{/anunciosUsuario/{codigoAnuncio}(codigoAnuncio=${anuncio.codigo})}"
								th:if="${anuncio.usuarioJaInteressado}"> 
								<i class="glyphicon glyphicon-star"></i>
							</a>
							
						</td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="6">Nenhum anúncio encontrado</td>
	                </tr>
	             </tbody>
         	</table>
    	 	</div>
    	 
    	 	<brewer:pagination page="${pagina}"/>
	</div>
	
	<div th:replace="anuncio/VisualizarAnuncioUsuario :: modal"></div>
</section>
<th:block layout:fragment="javascript-extra">
	<script>
		$('#estado').change(function() {
			if($("#estado option:selected")["0"].value == null || $("#estado option:selected")["0"].value == "") {
				limparSelectCidade();
				return;
			}
			
			$.ajax({
				type: "GET",
				url: $('#cidade').data('url-cidades') + $("#estado option:selected")["0"].value,
				beforeSend: function() {
					limparSelectCidade();
				},
				success: function(data) {					
					if(data != null && data.length > 0) {
						$('#cidade').prop('disabled', false);
						data.forEach(function(item){
						    $('#cidade').append('<option value='+item+'>' + item + '</option>');
						});
					}
				}
			});
		});	
		
		function limparSelectCidade() {
			$('#cidade').prop('disabled', true);
			var select = document.getElementById("cidade");
			var length = $('#cidade')["0"].length - 1;
			for (i = length; i >= 0; i--) {
				select.options[i] = null;
			}
			$('#cidade').append('<option value="">Todas as cidades</option>');
		}
		
		$('.js-marcar-btn').click(function() {
			marcarInteresse($(this).data('url'), $(this).data('objeto'));
		});
		
		$('.js-desmarcar-btn').click(function() {			
			desfazerInteresse($(this).data('url'));
		});
		
		$('.js-modal-btn').click(function(event) {
			var modal = $('#modalVisualizarAnuncioUsuario');
			var url = $(this).data('url')
 			$.ajax({
				url: url,
				method: 'GET'				
 			}).success(function(response){
 				modal.find('[id="codigo"]').val(response.codigo).end()
 					.find('[id="urlModal"]').val(url).end()
 					.find('[id="descricaoResumida"]').val(response.descricaoResumida).end()
 					.find('[id="preco"]').val(response.preco).end()
 					.find('[id="descricao"]').val(response.descricao).end()
 					.find('[id="endereco"]').val(response.endereco).end()
 					.find('[id="nomeResponsavel"]').val(response.nomeResponsavel).end()
 					.find('[id="emailResponsavel"]').val(response.emailResponsavel).end()
 					.find('[id="telefoneResponsavel"]').val(response.telefoneResponsavel).end()
 					.find('[id="dataPublicacao"]').val(response.dataPublicacao).end()
 					.find('[id="dataExpiracao"]').val(response.dataExpiracao).end();
 					
 				if(response.usuarioJaInteressado) { 					
 					$('.js-modal-marcar-btn').addClass('hidden');
 					$('.js-modal-desmarcar-btn').removeClass('hidden');
 				}
 				else {
 					$('.js-modal-marcar-btn').removeClass('hidden');
 					$('.js-modal-desmarcar-btn').addClass('hidden');
 				} 					
 				modal.show();
 			}).error(function(){
 				modal.hide();
 			});
		});
		
		$('.js-modal-marcar-btn').click(function() {
			let url = document.getElementById("urlModal").value.substring(0, document.getElementById("urlModal").value.lastIndexOf("/"));
			marcarInteresse(url, document.getElementById("codigo").value);			
		});
				
		$('.js-modal-desmarcar-btn').click(function(){
			desfazerInteresse(document.getElementById("urlModal").value);
		});
		
		function marcarInteresse(url, codigo) {
			$.ajax({
				url: url,
				method: 'POST',
				contentType: 'application/json',
				data: JSON.stringify({ codigoAnuncio: codigo }),
				success: function() {
					window.location.reload();
				},
				error: function(e) {
					alert(e.responseText);
				}
			});
		}
		
		function desfazerInteresse(url){
			$.ajax({
				url: url,
				method: 'DELETE',
				success: function(){
					window.location.reload();
				},
				error: function(e) {
					alert(e.responseText);
				}
			});
		}
		
	</script>
</th:block>
</body>
</html>